:root {
  height: 100%;
  background-color: var(--cream);

  /* ---------- Main colors ---------- */
  --dark-blue: #172339;
  --light-blue: #49566D;
  --cream: #F3EDE7;
  --off-white: #FAF8F6;
  --dark-purple: #A060FF;
  --bright-purple: #CB30E3;
  --orange: #FFA84E;

  /* ---------- Gradients ---------- */
  /* Button gradient */
  --button-gradient: linear-gradient(150deg, var(--dark-purple), var(--bright-purple), var(--orange));

  /* Background gradient */
  --background-gradient: linear-gradient(180deg, var(--off-white) 75%, var(--cream) 25%);
  --background-gradient-tablet: linear-gradient(180deg, var(--off-white) 69%, var(--cream) 31%);

  /* ---------- Typography ---------- */
  /* Default font size */
  font-size: 18px;

  /* Product name */
  --product-name-size: 1.78rem;

  /* Button */
  --button-size: 0.89rem;

  /* Heading XL */
  --heading-xl-size: 4rem;
  --heading-xl-line-height: 4.34rem;
  --heading-xl-letter-spacing: -1px;

  /* Heading L */
  --heading-l-size: 2.67rem;
  --heading-l-line-height: 3.12rem;
  --heading-xl-letter-spacing: -0.5px;

  /* Heading M */
  --heading-m-size: 1rem;
  --heading-m-line-height: 1.78rem;
  --heading-m-letter-spacing: -0.2px;

  /* Heading S */
  --heading-s-size: 0.89rem;
  --heading-s-line-height: 1.45rem;
  --heading-s-letter-spacing: 2.5px;

  /* Quote */
  --quote-size: 1.12rem;
  --quote-line-height: 1.95rem;
  --quote-letter-spacing: 0px;

  /* Body */
  --body-size: 1rem;
  --body-line-height: 1.78rem;
  --body-letter-spacing: 0px;

  /* Footer */
  --footer-size: 0.84rem;
  --footer-line-height: 1.78rem;
  --footer-letter-spacing: 0px;

  /* ---------- Tablet layout-specific typography ---------- */
  /* Heading XL */
  --heading-xl-size-tablet: 3.12rem;
  --heading-xl-line-height-tablet: 3.56rem;

  /* Heading L */
  --heading-l-size-tablet: 2.22rem;

  /* Body */
  --body-size-tablet: 0.89rem;

  /* Quote */
  --quote-size-tablet: 1rem;

  /* ---------- Mobile layout-specific typography ---------- */
  /* button */
  --button-size-mobile: 0.78rem;

  /* Heading XL */
  --heading-xl-size-mobile: 2.12rem;
  --heading-xl-line-height-mobile: 2.44rem;
}

body {
  margin: 0;

  font-family: 'Epilogue', sans-serif;
  font-size: var(--body-size);

  height: 100%;
}

/* ---------- Desktop Layout ---------- */
.grid_wrapper {
  display: grid;

  height: 100%;

  background-image: var(--background-gradient);
}

.grid_contents {
  display: grid;
  justify-content: center;

  grid-template: repeat(4, max-content) / repeat(3, 370px);

  margin: 4rem 0;
}

/* Top left "suite" */
.logo {
  grid-area: 1 / 1 / 2 / 2;
  align-self: center;

  margin: 0;
}

/* top right button */
.button_beta_secondary_container {
  grid-area: 1 / 3 / 2 / 4;
  justify-self: end;

  background-color: unset;

  border: solid 2px var(--dark-blue);
  border-radius: 0.5rem;

  padding: 1rem 1.5rem;

  max-width: fit-content;

  color: var(--dark-blue);
}

.button_beta_secondary_container:hover {
  background-color: var(--dark-blue);
  color: var(--cream);

  cursor: pointer;
}

.button_beta_secondary_contents {
  font-size: var(--button-size);
  font-weight: bold;
}

/* Middle of page */
.middle_container {
  display: grid;
  grid-column: span 3;
  grid-template: repeat(4, auto) / repeat(4, auto);

  margin: 4rem 0 7rem 0;
}

.middle_left_contents {
  grid-area: 1 / 1 / 5 / 4;

  margin-top: 3rem;
}

.middle_line {
  grid-area: 1 / 1 / 2 / 4;
  align-self: center;
  justify-self: center;

  margin-top: 2rem;
  margin-right: 2.6rem;

  z-index: 2;
}

.header_middle {
  grid-area: 1 / 1 / 3 / 4;
  align-self: center;

  font-size: var(--heading-xl-size);
  line-height: var(--heading-xl-line-height);
  letter-spacing: var(--heading-xl-letter-spacing);
  font-weight: normal;

  max-width: 17ch;

  margin: 2rem 0 0 0;

  position: relative;
  z-index: 2;
}

.middle_paragraph {
  grid-area: 3 / 1 / 4 / 3;
  align-self: start;

  font-size: var(--body-size);
  line-height: var(--body-line-height);
  letter-spacing: var(--body-letter-spacing);
  color: var(--light-blue);

  max-width: 33ch;

  margin: 3rem 0;  
}

.button_beta_primary_container {
  grid-area: 4 / 1 / 5 / 2;

  background-color: var(--dark-blue);

  color: var(--cream);
  font-weight: bold;

  border-radius: 0.3rem;

  padding: 1rem 1.5rem;

  max-width: fit-content;
  height: fit-content;
}

.button_beta_primary_container:hover {
  cursor: pointer;
  background-color: unset;
  background-image: var(--button-gradient);
}

.middle_image_container {
  grid-area: 1 / 3 / 5 / 4;

  margin-right: 1rem;

  z-index: 1;
}

.middle_image {
  display: block;
}

.middle_image_small {
  display: none;
}

.middle_stats_container {
  grid-area: 1 / 4 / 5 / 5;
  align-self: center;
  justify-self: start;
}

.stats_heading {
  font-size: var(--heading-l-size);
  line-height: var(--heading-l-line-height);
  letter-spacing: var(--heading-xl-letter-spacing);
  color: var(--dark-blue);

  margin: 0;
}

.stats_text {
  font-size: var(--heading-s-size);
  line-height: var(--heading-s-line-height);
  letter-spacing: var(--heading-s-letter-spacing);
  color: var(--light-blue);
  text-transform: uppercase;

  margin: 0 0 3rem 0;
}

.stats_text:nth-child(6) {
  margin: 0;
}

/* Bottom of page */
.bottom_container {
  display: grid;
  grid-template: 8% 92% / repeat(5, 1fr);
  grid-column: span 3;
}

.bottom_background {
  background-color: var(--dark-blue);
  background-image: url(assets/pattern-blur.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 2rem 5rem;

  border-radius: 1rem;

  grid-area: 2 / 1 / 3 / 6;
}

.bottom_image_blur {
  z-index: 1;
  grid-area: 2 / 1 / 3 / 4;
  justify-self: center;

  position: relative;
  margin-top: 5rem;
}

.bottom_image {
  z-index: 2;
  grid-area: 1 / 1 / 3 / 4;
  margin-left: 7rem;
}

.bottom_image_small {
  display: none;
}

.curved_line2 {
  z-index: 2;
  grid-area: 2 / 3 / 4 / 4;
  justify-self: center;

  position: relative;
  top: 30%;
}

.bottom_contents {
  grid-area: 2 / 3 / 3 / span 3;
  align-self: center;
  justify-self: center;

  margin-left: 4.3rem;

  max-width: 35ch;
  
}

.bottom_header {
  color: var(--off-white);
  font-size: var(--heading-l-size);
  line-height: var(--heading-l-line-height);
  letter-spacing: var(--heading-xl-letter-spacing);
  font-weight: normal;

  margin: 0;
}

.bottom_paragraph {
  color: var(--cream);
  font-size: var(--quote-size);
  line-height: var(--quote-line-height);
  letter-spacing: var(--quote-letter-spacing);

  margin: 2rem 0;
}

.quote_name {
  color: var(--off-white);
  font-size: var(--heading-m-size);
  line-height: var(--heading-m-line-height);
  letter-spacing: var(--heading-m-letter-spacing);
  font-weight: bold;
  text-transform: uppercase;

  margin: 0;
}

.quote_location {
  color: var(--cream);
  font-size: var(--heading-s-size);
  line-height: var(--heading-s-line-height);
  letter-spacing: var(--heading-s-letter-spacing);

  margin: 0;
}

/* Footer */
footer {
  display: grid;
  grid-column: span 3;
  grid-template: 1fr / repeat(3, 1fr);

  margin-top: 4rem;
}

.copyright {
  grid-area: 1 / 2 / 2 / 3;
  align-self: center;
  justify-self: center;

  margin: 0;

  font-size: var(--footer-size);
  line-height: var(--footer-line-height);
  letter-spacing: var(--footer-letter-spacing);
  color: var(--light-blue);
}

.footer_images_container {
  grid-area: 1 / 3 / 2 / 4;
  align-self: last baseline;
  justify-self: end;
}

.footer_image {
  transition: scale 200ms;
}

.footer_image:hover {
  transform: scale(110%);
  opacity: 50%;
  cursor: pointer;
}
.footer_image:nth-child(2) {
  margin: 0 1.5rem;
}

/* ---------- Tablet Layout ---------- */
@media screen and (max-width: 1200px) {
  .grid_wrapper {
    background-image: var(--background-gradient-tablet);
  }

  .grid_contents {
    display: grid;
    justify-content: center;
  
    grid-template: repeat(5, max-content) / repeat(3, 1fr);
  
    margin: 4rem 2rem;
  }

  .button_beta_secondary_container {
    grid-area: 1 / 2 / 2 / 4;
  }

  .middle_container {
    display: grid;
    grid-column: span 3;
    grid-template: repeat(5, auto) / repeat(3, auto);
  
    margin: 4rem 0;
  }

  .middle_line {
    align-self: unset;
    justify-self: unset;

    font-size: var(--heading-xl-size-tablet);

    width: 7.1ch;

    margin: 2rem 0 0 12.6rem;
  }

  .header_middle {
    font-size: var(--heading-xl-size-tablet);
    line-height: var(--heading-xl-line-height-tablet);

    margin-top: 1rem;
  }

  .middle_paragraph {
    font-size: var(--body-size-tablet);

    max-width: 37ch;
  }

  .middle_image_container {
    display:flex;
    justify-content: end;
    justify-self: end;

    margin: 0;
  }

  .middle_image {
    width: 80%;
  }

  .middle_stats_container {
    display: grid;
    grid-template: auto / repeat(3, 1fr);
    grid-area: 5 / 1 / 6 / 4;

    width: 100%;
  }

  .stats_container {
    margin-top: 4rem;

    text-align:center;
  }

  .stats_text {
    margin: 0;
  }

  .bottom_container {
    grid-template: 175px 220px max-content / 1fr;
  }

  .bottom_background {
    grid-area: 2 / 1 / 5 / 2;

    background-image: unset;
  }

  .bottom_background_container_small {
    display: grid;
    grid-area: 2 / 1 / 3 / 2;

    background-image: url(assets/pattern-blur.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: calc((538px / 4) * 3)
  }

  .bottom_image {
    display: none;
  }

  .bottom_image_small {
    grid-area: 1 / 1 / 2 / 2;
    justify-self: center;

    margin: 0;

    display:block;
  }

  .curved_line2 {
    grid-area: 3 / 1 / 4 / 2;

    position: unset;
    top: unset;

    padding: 2rem 0;

    scale: 77%;
  }

  .bottom_header {
    font-size: var(--heading-l-size-tablet);
  }

  .bottom_contents {
    display: grid;
    grid-area: 4 / 1 / 5 / 2;
    justify-items: center;

    max-width: unset;
    margin: 0 0 3rem 0;

    padding: 0 3rem;
  }

  .bottom_paragraph {
    font-size: var(--quote-size-tablet);
    text-align: center;
  }
}

@media screen and (max-width: 700px) {
  .grid_contents {
    display: grid;
    justify-content: center;
  
    grid-template: repeat(5, max-content) / 1fr;
  
    margin: 2rem 0;
  }

  .logo {
    margin: 0 0 0 1rem;
  }

  .logo_footer {
    margin: 0;
  }

  .button_beta_secondary_container {
    grid-area: unset;

    margin: 0 1rem 0 0;

    padding: 1rem 1rem;
  }

  .button_beta_secondary_contents{
    font-size: var(--button-size-mobile);
  }

  .middle_container {
    display: grid;
    grid-template: auto / 1fr;

    margin: 0 0 4rem 0;
  }

  .middle_left_contents {
    margin: 4rem 0 0 1rem;
  }

  .middle_line {
    font-size: var(--heading-xl-size-mobile);

    margin: 3.4rem 0 0 9.5rem;
  }

  .header_middle {
    font-size: var(--heading-xl-size-mobile);
    line-height: var(--heading-xl-line-height-mobile);

    margin-right: 1rem;
  }

  .middle_paragraph {
    margin: 2rem 0;
  }

  .middle_stats_container {
    grid-template: unset;
    grid-area: 6 / 1 / 7 / 2;
  }

  .middle_image_container {
    grid-area: unset;
    justify-content: center;
    justify-self: unset;

    margin: 4rem 1rem 0 1rem;
  }

  .middle_image {
    display: none;
  }

  .middle_image_small {
    display: block;
    width: 100%;
  }

  .bottom_background_container_small {
    background-size: calc((538px / 4) * 2);
  }

  .bottom_contents {
    padding: 0 1rem;
  }

  footer {
    grid-template: repeat(3, 1fr) / auto;
    justify-items: center;
    gap: 2rem;
  }

  .copyright {
    grid-area: 2 / 1 / 2 / 2;
  }

  .footer_images_container {
    grid-area: 3 / 1 / 4 / 2;
    justify-self: unset;
  }
}

@media screen and (max-width: 343px) {
  .middle_line {
    display: none;
  }
}