:root {
  /* ---------- Main colors ---------- */
  --dark-blue: #172339;
  --light-blue: #49566D;
  --cream: #F3EDE7;
  --off-white: #FAF8F6;
  --dark-purple: #A060FF;
  --bright-purple: #CB30E3;
  --orange: #FFA84E;

  /* ---------- Gradients ---------- */
  --linear-gradient: linear-gradient(150deg, var(--dark-purple), var(--bright-purple), var(--orange));

  /* TODO: Figure out how to mimic design radial gradient and add the two colored circles on top left and bottom left */
  --radial-gradient: radial-gradient(circle at bottom right, var(--dark-purple), var(--bright-purple), var(--orange));

  /* ---------- Typography ---------- */
  /* Default font size */
  font-size: 18px;

  /* Heading XL */
  --heading-xl-size: 4rem;
  --heading-xl-line-height: 4.34rem;
  --heading-xl-letter-spacing: -1px;

  /* Heading L */
  --heading-l-size: 2.67rem;
  --heading-l-line-height: 3.12rem;
  --heading-xl-letter-spacing: -0.5px;

  /* Heading M */
  --heading-m-size: 1rem;
  --heading-m-line-height: 1.78rem;
  --heading-m-letter-spacing: -0.2px;

  /* Heading S */
  --heading-s-size: 0.89rem;
  --heading-s-line-height: 1.45rem;
  --heading-s-letter-spacing: -2.5px;

  /* Quote */
  --quote-size: 1.12rem;
  --quote-line-height: 1.95rem;
  --quote-letter-spacing: 0px;

  /* Body */
  --body-size: 1rem;
  --body-line-height: 1.78rem;
  --body-letter-spacing: 0px;

  /* Footer */
  --footer-size: 0.84rem;
  --footer-line-height: 1.78rem;
  --footer-letter-spacing: 0px;
}

body {
  margin: 0;

  font-family: 'Epilogue', sans-serif;
  font-size: var(--body-size);

  height: 100vh;
}