:root {
  /* ---------- Main colors ---------- */
  --dark-blue: #172339;
  --light-blue: #49566D;
  --cream: #F3EDE7;
  --off-white: #FAF8F6;
  --dark-purple: #A060FF;
  --bright-purple: #CB30E3;
  --orange: #FFA84E;

  /* ---------- Gradients ---------- */
  --linear-gradient: linear-gradient(150deg, var(--dark-purple), var(--bright-purple), var(--orange));

  /* TODO: Figure out how to mimic design radial gradient and add the two colored circles on top left and bottom left */
  --radial-gradient: radial-gradient(circle at bottom right, var(--dark-purple), var(--bright-purple), var(--orange));

  /* ---------- Typography ---------- */
  /* Default font size */
  font-size: 18px;

  /* Product name */
  --product-name-size: 1.78rem;

  /* Heading XL */
  --heading-xl-size: 4rem;
  --heading-xl-line-height: 4.34rem;
  --heading-xl-letter-spacing: -1px;

  /* Heading L */
  --heading-l-size: 2.67rem;
  --heading-l-line-height: 3.12rem;
  --heading-xl-letter-spacing: -0.5px;

  /* Heading M */
  --heading-m-size: 1rem;
  --heading-m-line-height: 1.78rem;
  --heading-m-letter-spacing: -0.2px;

  /* Heading S */
  --heading-s-size: 0.89rem;
  --heading-s-line-height: 1.45rem;
  --heading-s-letter-spacing: -2.5px;

  /* Quote */
  --quote-size: 1.12rem;
  --quote-line-height: 1.95rem;
  --quote-letter-spacing: 0px;

  /* Body */
  --body-size: 1rem;
  --body-line-height: 1.78rem;
  --body-letter-spacing: 0px;

  /* Footer */
  --footer-size: 0.84rem;
  --footer-line-height: 1.78rem;
  --footer-letter-spacing: 0px;
}

body {
  margin: 0;

  font-family: 'Epilogue', sans-serif;
  font-size: var(--body-size);

  height: 100%;

  background-color: var(--off-white);
}

.grid_wrapper {
  display: grid;

  height: 100vh;
}

.grid_contents {
  display: grid;
  justify-content: center;

  grid-template: repeat(4, auto) / repeat(3, 370px);
  grid-template-areas:
    "top_left top_center top_right"
    "middle_left middle_center middle_right"
    "bottom_left bottom_center bottom_right"
    "footer_left footer_center footer_right";
}

.product_name {
  font-size: var(--product-name-size);
  font-weight: bold;

  grid-area: top_left;
}

.button_beta_secondary_container {
  grid-area: top_right;
}

.middle_contents {
  grid-area: middle_left;
}

.middle_image_container {
  grid-area: middle_center;
}

.middle_stats_container {
  grid-area: middle_right;
}

.bottom_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "bottom_left bottom_center bottom_right";

  grid-area: bottom_left;
  grid-column: span 3;
}
.bottom_image {
  grid-area: bottom_left;
}

.bottom_contents {
  grid-area: bottom_center;
  grid-column: span 2;
}

.product_name_footer {
  font-size: var(--product-name-size);
  font-weight: bold;

  grid-area: footer_left;
}

.copyright {
  grid-area: footer_center;
  justify-self: center;
}

.footer_images {
  grid-area: footer_right;
}